@charset "ISO-8859-1";
/* displaySong.css *  */
h1{
	color:white;
	text-align: center;
	margin-bottom: 0px;
}
*{
  box-sizing: border-box;
}
.container {
    width: 92%;
    
    color: #fff;
    padding: 10px 0;
    
}
header{
  position:relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /*width: 100%;position:fixed;
     */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: white;
    text-decoration: none;
    /*check this user select  */
    user-select: none;
}
.navigation{
    position: relative;
    font-size: 1.1em;
    
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 97%;
    height: 3px;
    background: white;
    border-radius: 5px;
    
    transform: scaleX(0);
    transition: transform .5s;

}
.navigation a:hover::after{
    transform: scaleX(1);
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(110,118,118,1) 17%, rgba(8,15,85,1) 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.container1 {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 20px 10px;
  color:black;
  
  
  overflow: auto;
  height: 80vh; 
  margin-top: 0px;
}

.playlist-card {
	background-image: url('/img/a.jpg');
	background-size: cover; /* or use 'contain' to fit within the container */
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    padding: 20px;
}

.playlist-card::after {
    content: "";
    width: 300px;
}
.playlist-list{
	background-color:white;
	border-radius: 10px;
}
.song-list {
	display:flex;
	align-content:center;
	flex-direction:column;
    list-style-type: none;
    padding: 0;
}

.song-item {
	
    margin-top: 10px;
}

.song-name {
    margin: 0;
}

.song-player {
    margin-top: 5px;
}

/*--Audio-*/
 audio::-webkit-media-controls-panel {
    background-color: #eaeff0;
}
audio::-webkit-media-controls-play-button {
    color: black; 
}
audio::-webkit-media-controls-volume-slider {
    color: black;
}
 /*----Sidebar*/
 h3{
 text-align: center;
 color:white;
	padding:5px
 }
.sidebar {
        width: 18%;
        background-color: #013a63;
        padding: 30px;
        border-radius: 10px;

    }
.sidebar a {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5px;
        text-align: center;
    }
    .sidebar a:hover {
        background-color: #ced4da;
        color: white;
    }
section{
	display:flex;
    width: 95%;
    margin: 20px auto;
    background-image: linear-gradient(to right top, #8c939b, #657389, #435375, #273361, #10144a);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 .sidebar .active{
	color:black;
	background-color: white;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

